<h1>Weather results for <%= @address %></h1>
<dl>
  <dt>Current Temperature</dt>
  <dd><%= @temperature %></dd>

  <dt>Current Summary</dt>
  <dd><%= @summary %></dd>

  <dt>Outlook for next sixty minutes</dt>
  <dd><%= @outlook1 %></dd>

  <dt>Outlook for next several hours</dt>
  <dd><%= @outlook2 %></dd>

  <dt>Outlook for next several days</dt>
  <dd><%= @outlook3 %></dd>
</dl>
